
body{font-family:Arial;background:#07161b;color:white;margin:0}
header{background:#0d3f49;padding:20px}
.container{padding:20px}
.card{background:#1fb0cf;padding:15px;margin-bottom:10px;border-radius:6px}
